.header {
  max-width: 1140px;
  display: flex;
  gap: 52px;
  margin: 0 auto;
}

.logoWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 11px 0 0;
}

.logo {
  width: 140px;
  height: 24px;
}

.description {
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  color: #E4E5EA;
  max-width: 165px;
  margin: 0;
}

.nav {
  display: flex;
  gap: 137px;

}

.menu {
  display: flex;
  list-style-type: none;
  padding: 15px 0;
  gap: 30px;
  margin: 0;
}

.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #E4E5EA;
  text-decoration: none;
}

.linkHidden {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #E4E5EA;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1140px) {
  .header {
    max-width: 320px;
    display: flex;
    gap: 0;
    padding: 20px 16px;
  }
  .logoWrap {
    display: none;
  }
  .nav {
    gap: 0;
  }
  .menu {
    gap: 16px;
    padding: 0;
  }
  .linkHidden {
    display: none;
  }
  .link {
    font-size: 12px;
    line-height: 14.52px;
    text-transform: uppercase;
  } 
}