@use '../../utils/variables.scss' as *;

.wrapperForHeader {
  display: flex;
  gap: 47px;
}

.wrapperForFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapperForMobile {
  display: none;
}

.contact {
  @include text(16px, 19px, 500);
  color: $colorText;
  min-width: 143px;
}

.socialIcons {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 19px;
}

.icon:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1140px) {
  .wrapperForHeader {
    display: none;
  }
  .wrapperForFooter {
    display: none;
  }
  .wrapperForMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
